
body
{
    background-color: white; 
    color:white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

p
{
    color:blue
}

u
{
    color:blue
}
a
{
color:blue
}
